{% set title = "로그인 창" %}
{% extends "layout/base.html" %}
 
{% block content -%}


<h1>
{{id}}님 환영합니다.
</h1>

    <table class="table table-bordered table-hover">
        <tr>
            <th>아이디 </th>
            <th>위도</th>
            <th>경도</th>
        </tr>


        {%for data in dataList%}
        <tr>
            <td>{{data.name}}</td>
            <td>
                {{data.Lat}}
            </td>
            <td>
                {{data.Lon}}
            </td>
        </tr>
        {%endfor%}
        
    </table>

    
<a href="/admin/products" class="btn btn-default">로그아웃</a>
{% endblock %}